URL_DATABASE="postgresql://CAMBIA_USUARIO:CAMBIA_CLAVE@postgres:5432/CAMBIA_BD"
POSTGRES_USER="CAMBIA_USUARIO"
POSTGRES_PASSWORD="CAMBIA_CLAVE"
POSTGRES_DB="CAMBIA_BD"

SECRET_KEY="REEMPLAZAR_POR_openssl_rand_hex_32"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_DAYS=15

GMAIL_USERNAME="tu-correo@gmail.com"
GMAIL_APP_PASSWORD="contraseña-de-aplicacion-de-gmail"

URL_FRONTEND="http://localhost:5173"
URL_BACKEND="http://localhost:8001"

MINIO_ROOT_USER="CAMBIA_MINIO_USER"
MINIO_ROOT_PASSWORD="CAMBIA_MINIO_PASSWORD"
MINIO_URL=minio:9000

RATE_LIMIT_ENABLED=false

USER_NAME_ADMIN=""
ADMIN_DEFAULT=""
PASSWORD_DEFAULT=""

USER_NAME_OWNER=""
OWNER_DEFAULT=""
OWNER_PASSWORD_DEFAULT=""

RUN_SEED=false
