.venv/
.venv/
venv/
env/
.env
.env.dev
.env.*
!.env.example
!.env.public.example
*.env.local
.env.*.local
.env.local
__pycache__/te
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.bak
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.env
__pycache__/
soloparami.md
.git